:root {
  --theme-success-50: #fdf8ec;
  --theme-success-100: #f8edcd;
  --theme-success-150: #f0dc9e;
  --theme-success-200: #e8ca6f;
  --theme-success-250: #ddba4d;
  --theme-success-300: #c9a227;
  --theme-success-350: #b89221;
  --theme-success-400: #a6821d;
  --theme-success-450: #94721a;
  --theme-success-500: #826316;
  --theme-success-550: #705413;
  --theme-success-600: #5e460f;
  --theme-success-650: #4c380c;
  --theme-success-700: #3f2f0a;
  --theme-success-750: #322509;
  --theme-success-800: #251c07;
  --theme-success-850: #1c1505;
  --theme-success-900: #131004;
  --theme-success-950: #0a0902;
}

.nav {
  border-right: 2px solid #c9a227;
}
